.login-form-component {
  // Put styles here
  .app-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1em;
    color: #212529 !important;
  }

  .form-signing {
    width: 100%;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
